body{
    margin: 0;
}

main{
    padding: 20px;
}

#input-container{
    background-color: rgb(230, 230, 230);
    padding: 10px;
}

#map-container{
    padding: 10px;
}

.header-style {
    height: 150px;
    width: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-bottom: 20px;
    color: white;
    text-align: left;
    border-bottom: 10px solid grey;
}

.header-text{
    font-weight: 700;
    font-size: 65px;
    margin-left: 20px;
    padding-top: 30px;
}

#container-h1{
    border-bottom: 2px solid grey;
    font-weight: 500;
}

.center-allign{
    text-align: center;
}